*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}
@font-face {
    font-family: "New Roman Italic";
    src: url("../fonts/texgyretermes-italic.otf");
}
#glava{
    height: 300px;
}
#title{
    font-size: 2.7rem;
    color: whitesmoke;
    font-family: "New Roman Italic";
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}
#labirint{
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}