*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    display: grid;
}
@font-face {
    font-family: "New Roman Italic";
    src: url("../fonts/texgyretermes-italic.otf");
}
header{
    height: 300px;
    display: flex;
    justify-content: center;
}
#title{
    font-size: 2.7rem;
    color: whitesmoke;
    font-family: "New Roman Italic";
}
#labirint{
    position: fixed;
    top: 50%;
    right: 50%;
}